.wrapper{
    width: 1825px;
    background-color: white;
}#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 65px;
}
.logo{
    display: flex;
    margin-right: 70px;
}.logo p{
    display: flex; 
}.menu{
    display: flex;
    flex-direction: row;
}.menu .item-menu{
    display: flex;
    margin-right: 60px;
}.icon{
    display: flex;
}.icon div{
    margin-right: 20px;
}#menu a{
    text-decoration: none;
    color: white;
}.banner{
    position: relative;
}.text-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}.text-sale{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}#product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}.product-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}.product-items{
    padding: 20px;
}#footer{
    background-image: url(ft.webp);
    position: relative;
    width: 1825px;
    height: 300px;
}.footer-group{
    width: 1825px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
}.contact input{
    margin: 1px;
}#copyright{
    position: absolute;
    top: 80%;
    left: 36%;
}#body{
    width: 983px;
    margin-left: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}.filter{
    display: flex;
    flex-direction: column;
    width: 200px;
}.list-product{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}.item{
    display: flex;
    flex-direction: row ;
}.item img{
    margin-right: 10px;
    margin-bottom: 10px;
}.des{
    display: flex;
    flex-direction: column;
}